@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.004 285.824);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.004 285.824);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.004 285.824);
  --primary: oklch(0.57 0.097 203.622);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.968 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.884);
  --muted: oklch(0.968 0.001 286.375);
  --muted-foreground: oklch(0.552 0.014 285.942);
  --accent: oklch(0.968 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.884);
  --destructive: oklch(0.569 0.23 2.228);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.57 0.097 203.622);
  --chart-1: oklch(0.57 0.097 203.622);
  --chart-2: oklch(0.569 0.23 23.314);
  --chart-3: oklch(0.567 0.117 83.246);
  --chart-4: oklch(0.567 0.265 293.333);
  --chart-5: oklch(0.57 0.127 113.236);
  --sidebar-background: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.37 0.012 285.801);
  --sidebar-primary: oklch(0.21 0.006 285.884);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.968 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.884);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.623 0.188 259.796);
  --darkreader-bg--background: oklch(1 0 0);
  --darkreader-bg--foreground: oklch(0.141 0.004 285.824);
  --darkreader-text--foreground: oklch(0.141 0.004 285.824);
  --darkreader-bg--card: oklch(1 0 0);
  --darkreader-text--card-foreground: oklch(0.141 0.004 285.824);
  --darkreader-bg--popover: oklch(1 0 0);
  --darkreader-text--popover-foreground: oklch(0.141 0.004 285.824);
  --darkreader-bg--primary: oklch(0.569 0.228 6.186);
  --darkreader-text--primary: oklch(0.569 0.228 6.186);
  --darkreader-border--primary: oklch(0.569 0.228 6.186);
  --darkreader-text--primary-foreground: oklch(1 0 0);
  --darkreader-bg--secondary: oklch(0.968 0.001 286.375);
  --darkreader-text--secondary-foreground: oklch(0.21 0.006 285.884);
  --darkreader-bg--muted: oklch(0.968 0.001 286.375);
  --darkreader-text--muted: oklch(0.968 0.001 286.375);
  --darkreader-border--muted: oklch(0.968 0.001 286.375);
  --darkreader-text--muted-foreground: oklch(0.552 0.014 285.942);
  --darkreader-bg--accent: oklch(0.968 0.001 286.375);
  --darkreader-text--accent-foreground: oklch(0.21 0.006 285.884);
  --darkreader-bg--destructive: oklch(0.957 0.021 22.476);
  --darkreader-text--destructive: oklch(0.957 0.021 22.476);
  --darkreader-border--destructive: oklch(0.957 0.021 22.476);
  --darkreader-text--destructive-foreground: oklch(0.569 0.232 27.262);
  --darkreader-bg--border: oklch(0.92 0.004 286.32);
  --darkreader-text--border: oklch(0.92 0.004 286.32);
  --darkreader-border--border: oklch(0.92 0.004 286.32);
  --darkreader-bg--input: oklch(0.92 0.004 286.32);
  --darkreader-border--input: oklch(0.92 0.004 286.32);
  --darkreader-bg--ring: oklch(0.569 0.228 6.186);
  --darkreader-bg--sidebar-background: oklch(0.985 0 0);
  --darkreader-text--sidebar-foreground: oklch(0.37 0.012 285.801);
  --darkreader-bg--sidebar-accent: oklch(0.968 0.001 286.375);
  --darkreader-text--sidebar-accent-foreground: oklch(0.21 0.006 285.884);
  --darkreader-bg--sidebar-border: oklch(0.928 0.006 264.531);
  --darkreader-border--sidebar-border: oklch(0.928 0.006 264.531);
  --darkreader-bg--sidebar-ring: oklch(0.623 0.188 259.796);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.141 0.004 285.824);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.004 285.824);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.004 285.824);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.587 0.1 203.653);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.005 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.712 0.013 286.068);
  --accent: oklch(0.274 0.005 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.586 0.239 26.822);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.274 0.005 286.033);
  --input: oklch(0.274 0.005 286.033);
  --ring: oklch(0.587 0.1 203.653);
  --chart-1: oklch(0.587 0.1 203.653);
  --chart-2: oklch(0.587 0.237 23.407);
  --chart-3: oklch(0.584 0.12 83.132);
  --chart-4: oklch(0.586 0.253 293.83);
  --chart-5: oklch(0.587 0.131 113.25);
  --sidebar-background: oklch(0.21 0.006 285.884);
  --sidebar-foreground: oklch(0.968 0.001 286.375);
  --sidebar-primary: oklch(0.488 0.217 264.388);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.274 0.005 286.033);
  --sidebar-accent-foreground: oklch(0.968 0.001 286.375);
  --sidebar-border: oklch(0.274 0.005 286.033);
  --sidebar-ring: oklch(0.623 0.188 259.796);
  --darkreader-bg--background: oklch(0.141 0.004 285.824);
  --darkreader-bg--foreground: oklch(0.985 0 0);
  --darkreader-text--foreground: oklch(0.985 0 0);
  --darkreader-bg--card: oklch(0.141 0.004 285.824);
  --darkreader-text--card-foreground: oklch(0.985 0 0);
  --darkreader-bg--popover: oklch(0.141 0.004 285.824);
  --darkreader-text--popover-foreground: oklch(0.985 0 0);
  --darkreader-bg--primary: oklch(0.587 0.235 6.287);
  --darkreader-text--primary: oklch(0.587 0.235 6.287);
  --darkreader-border--primary: oklch(0.587 0.235 6.287);
  --darkreader-text--primary-foreground: oklch(0.985 0 0);
  --darkreader-bg--secondary: oklch(0.274 0.005 286.033);
  --darkreader-text--secondary-foreground: oklch(0.985 0 0);
  --darkreader-bg--muted: oklch(0.274 0.005 286.033);
  --darkreader-text--muted: oklch(0.274 0.005 286.033);
  --darkreader-border--muted: oklch(0.274 0.005 286.033);
  --darkreader-text--muted-foreground: oklch(0.712 0.013 286.068);
  --darkreader-bg--accent: oklch(0.274 0.005 286.033);
  --darkreader-text--accent-foreground: oklch(0.985 0 0);
  --darkreader-bg--destructive: oklch(0.201 0.081 19.115);
  --darkreader-text--destructive: oklch(0.201 0.081 19.115);
  --darkreader-border--destructive: oklch(0.201 0.081 19.115);
  --darkreader-text--destructive-foreground: oklch(0.587 0.235 17.48);
  --darkreader-bg--border: oklch(0.274 0.005 286.033);
  --darkreader-text--border: oklch(0.274 0.005 286.033);
  --darkreader-border--border: oklch(0.274 0.005 286.033);
  --darkreader-bg--input: oklch(0.274 0.005 286.033);
  --darkreader-border--input: oklch(0.274 0.005 286.033);
  --darkreader-bg--ring: oklch(0.587 0.235 6.287);
  --darkreader-bg--sidebar-background: oklch(0.21 0.006 285.884);
  --darkreader-text--sidebar-foreground: oklch(0.968 0.001 286.375);
  --darkreader-bg--sidebar-accent: oklch(0.274 0.005 286.033);
  --darkreader-text--sidebar-accent-foreground: oklch(0.968 0.001 286.375);
  --darkreader-bg--sidebar-border: oklch(0.274 0.005 286.033);
  --darkreader-border--sidebar-border: oklch(0.274 0.005 286.033);
  --darkreader-bg--sidebar-ring: oklch(0.623 0.188 259.796);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* https://github.com/shadcn-ui/ui/issues/6843#issuecomment-2696947980 */
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}
